@{
    ViewData["Title"] = "Employee Position";
}
@model IEnumerable<EmployeePosition>

<table class="table">
    <thead>
        <tr>
                <th>
                @Html.DisplayNameFor(model => model.Position)
                </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
            </tr>
        }
    </tbody>
</table>
